@use "styles/vars" as vars;

body, html {
  color: vars.$color-text;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: vars.$color-background;
  --ag-background-color: vars.$color-background;
  --ag-text-color: vars.$color-text;
}
